<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar&family=Roboto&display=swap" rel="stylesheet">


</head>
<body>
    <div class="index">
        <img src="../static/img/educator.svg" class="img1" alt=""> <br>
        <h3>Campus Placement Predication</h3><br>
        <a href="/details" class="btn">Get Started.</a>
    </div>
</body>
</html>